/* Estilo global */
body {
  font-family: Castellar, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #00ffff;
}

h1 {
  margin-top: 5px;
  font-size: 4rem;
  color: #ff0000;
}

/* Controles: marcador, temporizador */
#controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 20;
}

#timer, #score {
  font-size: 2.0rem;
}

/* Contenedor del tablero */
#game-container {
  display: flex;
  flex-direction: column; /* Organizar los elementos verticalmente */
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/* Tablero */
#board {
  display: grid;
  gap: 1px;
  max-width: 50vw; /* Mantener tablero dentro del ancho de la pantalla */
}

/* Estilo de las celdas */
.cell {
  width: calc(100vw / 20); /* Reducir tamaño de celdas */
  height: calc(120vw / 20);
  background-color: #ddd;
  text-align: center;
  line-height: calc(100vw / 20); /* Alinear texto verticalmente */
  font-size: 1.0rem; /* Reducir tamaño de texto */
  border-radius: 1.0px; /* Esquinas redondeadas */
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
}

/* Celdas reveladas */
.cell.revealed {
  background-color: #008f39;
  transform: scale(1.1); /* Pequeño efecto de ampliación */
}

/* Celdas marcadas como bandera */
.cell.flag {
  background-color: #ffa;
}

/* Celdas con minas */
.cell.mine {
  background-color: #ff0000;
  animation: shake 0.3s ease; /* Animación al revelar una mina */
}

/* Animación para celdas con mina */
@keyframes shake {
  0% { transform: translate(0, 0); }
  25% { transform: translate(-5px, 0); }
  50% { transform: translate(5px, 0); }
  75% { transform: translate(-5px, 0); }
  100% { transform: translate(0, 0); }
}

/* Botón "Reiniciar" */
#restart-btn {
  padding: 2px 2px; /* Ajustar tamaño del botón */
  font-size: 5rem; /* Tamaño de texto */
  border: 1px;
  border-radius: 2px;
  background-color: #ffff;
  color: #ff0000;
  cursor: pointer;
  margin-top: 1px;
}

#restart-btn:hover {
  background-color: #ff0000;
}